.common-title {
    font-size: 36px;
    font-family: MicrosoftYaHeiSemibold;
    color: #0B173A;
    line-height: 48px;
    margin-bottom: 20px;
}

.common-tip {
    font-size: 24px;
    font-family: MicrosoftYaHei;
    color: #979BA6;
    line-height: 21px;
}


.text-center {
    text-align: center;
}

.common-desc {
    font-size: 16px;
    font-family: MicrosoftYaHei;
    color: #323A50;
    line-height: 21px;
    margin-bottom: 40px;
}


/*//按钮组*/

.send-btn {
    width: 360px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-top: 22px;
    background: linear-gradient(270deg, #00D8FF 0%, #0077FB 100%);
    font-size: 16px;
    font-family: MicrosoftYaHei;
    color: #FFFFFF;
}


.btn-home {
    display: flex;
    text-align: center;
    cursor: pointer;
}

.btn-home .btn-down {
    width: 192px;
    height: 60px;
    line-height: 60px;
    background: linear-gradient(270deg, #00D8FF 0%, #0077FB 100%);
    border-radius: 30px;
    font-size: 18px;
    font-family: MicrosoftYaHeiSemibold;
    color: #FFFFFF;
    margin-right: 40px;
}

.btn-home .btn-more {
    width: 192px;
    height: 60px;
    line-height: 60px;
    border-radius: 30px;
    border: 1px solid #999999;
    font-size: 18px;
    font-family: MicrosoftYaHeiSemibold;
    color: #0B173A;
}


.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}
